#top-most EditorConfig for project
root = true
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{cs,csx,razor}]
indent_size = 4
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C# coding standards
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion
dotnet_style_readonly_field = true:suggestion
dotnet_naming_style.instance_field_style.capitalization = camel_case
dotnet_naming_style.static_field_style.capitalization = camel_case
dotnet_naming_style.private_field_style.capitalization = camel_case
dotnet_naming_style.local_variable_style.capitalization = camel_case
dotnet_naming_style.parameter_style.capitalization = camel_case
dotnet_naming_style.method_style.capitalization = pascal_case
dotnet_naming_style.property_style.capitalization = pascal_case
dotnet_naming_style.event_style.capitalization = pascal_case
dotnet_naming_style.class_style.capitalization = pascal_case
dotnet_naming_style.interface_style.capitalization = pascal_case
dotnet_naming_style.struct_style.capitalization = pascal_case
dotnet_naming_style.enum_style.capitalization = pascal_case
dotnet_naming_style.constant_style.capitalization = pascal_case
dotnet_naming_style.public_field_style.capitalization = pascal_case
dotnet_naming_style.private_static_field_style.capitalization = pascal_case
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_auto_properties = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:suggestion
dotnet_style_prefer_conditional_expression_over_return = true:suggestion

# YAML
[*.{yml,yaml}]
indent_size = 2
indent_style = space

[*.{xml,csproj,config}]
indent_style = tab
indent_size = 4

[*.json]
indent_style = space
indent_size = 2

[*.js]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2


# Markdown
[*.md]
trim_trailing_whitespace = false
